home/tmux-*.log
home/.subversion/*
home/.bin/pulse
.netrwhist
home/.local/share/nvim
home/.vim/autoload/plug.vim.old
home/.vim/tmp/*
home/.vim/.netrwhist
home/.vim/plugged/*
home/.vim/bundle/*
home/.config/nvim/autoload/plug.vim.old
home/.config/nvim/tmp/*
home/.config/nvim/.netrwhist
home/.config/nvim/plugged/*
home/.config/nvim/bundle/*
*.AppImage
*.appimage
