[user]
    name = Shaine Hatch
    email = shaine@digitaltrike.com
[core]
    whitespace = trailing-space,space-before-tab
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[merge]
    stat = true
    tool = opendiff
[alias]
    st = status -sb
    d = diff --word-diff
    co = checkout
    com = commit -am
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --
    switch = !legit switch \"$@\"
    branches = !legit branches
    sprout = !legit sprout \"$@\"
    unpublish = !legit unpublish \"$@\"
    harvest = !legit harvest \"$@\"
    sync = !legit sync \"$@\"
    publish = !legit publish \"$@\"
    graft = !legit graft \"$@\"
    update = submodule foreach git pull
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ => \\2/' | sort
    cleanup = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
    uncommit = reset --soft HEAD^
[github]
    user = shaine
