[user]
	name = Shaine Hatch
	email = shainehatch@overstock.com
[core]
    whitespace = trailing-space,space-before-tab
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[merge]
    stat = true
    tool = opendiff
[alias]
    st = status -sb
    d = diff --word-diff
    co = checkout
    com = commit -am
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --
    branch-lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    ll = log --stat --abbrev-commit
    update = submodule foreach git pull
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ => \\2/' | sort
    cleanup = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
    uncommit = reset --soft HEAD^
[github]
    user = shaine
[url "https://"]
	insteadOf = git://
[push]
	default = simple
[credential]
	helper = osxkeychain
[init]
	templatedir = /Users/shainehatch/.git-templates
[url "https://github.com/"]
	insteadOf = git://github.com/
