!#include "/home/shaine/.cache/wal/colors.Xresources"
!#include "/usr/share/regolith-look/default/root"
URxvt.scrollBar: false
! urxvt*font: xft:Terminus:pixelsize=12
URxvt.font: terminus-12
! URXvt.boldFont: terminus-14
! Misc Fixed
! URXvt.font: 6x13
! URXvt.boldFont: 6x13B
*internalBorder: 40
URxvt.lineSpace: 1
*selectToClipboard: true
URxvt.perl-ext-common: font-size,clipboard
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.clipboard.pasteselcmd: xclip -o -selection primary

URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_sel
URxvt.keysym.S-Return: \033[13;2u
URxvt.keysym.C-Return: \033[13;5u
