snippet it
it('${1:should do something}', function() {
	// Set up
	${2}

	// Definition
	${3}

	// Run unit
	${4}

	// Verify expectations
	${5}

	// Tear down
	${0}
});
endsnippet

snippet des
describe('${1:New Unit Name type}', function() {
	${0}
});
endsnippet
